---
import { getLangParams } from '../utils';
export interface Props {
	title: string;
}
export const getStaticPaths = () => {
  const langParams = getLangParams();
  return [...langParams];
}
const { lang } = Astro.params;
const { title } = Astro.props;
const slugPath = String(Astro.url.pathname).substring(4)
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <div class="prose container mx-auto">
      <header class="flex justify-between mb-5">
        <a href=`/${lang}`>Home</a>
        <div>
          <a href=`/ja/${slugPath}`>Japanese</a>
          <a href=`/en/${slugPath}`>English</a>
        </div>
      </header>
      <slot />
    </div>
	</body>
</html>
